<div class="container">
  <div class="card-body mx-auto mt-5 w-75 bg-dark text-white">
    <div class="container d-flex justify-content-center">
      <h1>What do you need help with?</h1>
    </div>

    <div class="container d-flex justify-content-center">
    <% search_params = params[:search] || []%>
    <%= form_with(url: '/', method: 'get', local: true) do %>
    <%= check_box_tag("search[]", "Long Term Housing", search_params.include?("Long Term Housing")) %> Long Term Housing <br>                                           
    <%= check_box_tag("search[]", "Immediate Shelter", search_params.include?("Immediate Shelter") ) %> Immediate Shelter <br>                                       
    <%= check_box_tag("search[]", "Finding Food", search_params.include?("Finding Food")) %> Finding Food <br>
    <%= check_box_tag("search[]", "Transportation", search_params.include?("Transportation")) %> Transportation <br>
    <%= check_box_tag("search[]", "Legal Services", search_params.include?("Legal Services")) %> Legal Services <br>
    <%= check_box_tag("search[]", "Family and Youth Services", search_params.include?("Family and Youth Services")) %> Family Services <br>                               
    <%= check_box_tag("search[]", "Mental Health Services", search_params.include?("Mental Health Services")) %> Mental Health Services <br>
    <%= check_box_tag("search[]", "Substance Use", search_params.include?("Substance Use")) %> Substance Use <br> 
    <%= check_box_tag("search[]", "Immigration", search_params.include?("Immigration")) %> Immigration or Refugee Support <br>
    <%= check_box_tag("search[]", "LGBTQ Support", search_params.include?("LGBTQ Support")) %> LGBTQ Support <br>
    <%= check_box_tag("search[]", "Prisoner Re-entry", search_params.include?("Prisoner Re-entry")) %> Prisoner Re-entry <br>
    <%= check_box_tag("search[]", "Domestic Violence", search_params.include?("Domestic Violence")) %> Domestic Violence <br>
    <%= check_box_tag("search[]", "U.S. Military Support Services", search_params.include?("U.S. Military Support Services")) %> U.S. Military Support Services <br><br>
    <%= submit_tag("Search") %>
    <% end %>
    </div>

    <br><br>
    <div class="container d-flex justify-content-center">
    <% if params[:search].present? %>
      <% if @service_providers.present? %>
        <% @service_providers.each do |provider|%>
          <%= render provider %>
        <% end %>
      <% else %> 
        <%= "No results found" %> 
      <% end %>
    <%end%>
    </div>
  </div>
</div>

 <%# <div class="containerd d-flex justify-content-center">
      <h1> Where are you looking for help? </h1> 
    </div>
    <div class="containerd d-flex justify-content-center">
        <%= form_with(url: '/', method: 'get', local: true) do |form| %>
          <%# <%= form.collection_select :municipality_id, Municipality.order(:name), :id, :name %> 
          <%# <%=submit_tag("M")
        <%# <% end %>         <%# </div><br><br> %> 
      


