<div id="<%= dom_id service_provider %>">
  
  
  <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
  
  
  
  <p>
    <strong>Name:</strong>
    <%= service_provider.name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= service_provider.about %>
  </p>
/*
  <p>
    <%# <strong>Street:</strong> %>
    <%# <%= service_provider.street %> 
  </p>

  <p>
    <%# <strong>City:</strong> %>
    <%# <%= service_provider.city %> 
  </p>

  <p>
    <%# <strong>State:</strong> %>
    <%# <%= service_provider.state %>
  </p>

  <p>
    <%# <strong>Zip:</strong> %>
    <%# <%= service_provider.zip %>
  </p>

  <p>
    <%# <strong>Contact person:</strong> %>
    <%# <%= service_provider.contact_person %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= service_provider.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= service_provider.email %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= service_provider.url %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= (service_provider.services).to_sentence %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= service_provider.municipality.name %>
  </p>
   <p>
    <strong>Organization:</strong>
    <%= service_provider.municipality.organization.name %>
  </p>

</div>
