<div id="<%= dom_id service_provider %>">
  
  
  <div class="card text-white bg-dark border-light pb-15 rounded-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-3">
     <% if service_provider.image.present?%>
       <%= image_tag service_provider.image%>
    <%end%>
   </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%="#{service_provider.name}"%></h5>
        <p class="card-text"><%="#{service_provider.municipality.name}"%> | <%= link_to "Get Directions", "http://maps.google.com/?=#{service_provider.street} #{service_provider.city}, #{service_provider.state}, #{service_provider.zip}"%>
        </p>
        <p class="card-text"><%= "#{service_provider.about}"%></p>
        <p class="card-text">The services provided by <%=service_provider.name%> are <%="#{((service_provider.services).to_sentence).downcase}."%></p>
        <p class="card-text">Website:<%= link_to "#{service_provider.url}", "http://#{service_provider.url}"%></p>
       
        <div class="row g-10">

          <div class="col-md-3 justify-content-center">
            <p class="card-text"><a href="tel:<%=service_provider.phone%>"><img src="https://static.vecteezy.com/system/resources/previews/000/582/374/original/telephone-symbol-icon-vector-illustration.jpg" width="50" height="50"></a><br>Call</p>
          </div>  
          <div class="col-md-3">
            <p class="card-text"><a href="mailto:<%=service_provider.email%>"><img src="https://static.vecteezy.com/system/resources/previews/000/581/545/original/email-icon-vector-illustration.jpg" width="50" height="50"></a><br>Email</p>
          </div>
          <div class="col-md-3">
            <p class="card-text"><a href="sms:<%=service_provider.phone%>"><img src="https://i.pinimg.com/originals/b7/ce/2f/b7ce2fd14b95df9582d7bd3c5a59cd74.png" width="50" height="50"></a><br>Text</p>
          </div>
        </div>
      
    </div>
  </div>
</div>
  
 
  
  