
<%= turbo_frame_tag municipality do %>
  <div id="<%= dom_id municipality %>">
    <div class="container card bg-secondary border-white pb-2 mb-1 w-50">
      <div class="card-bpody">

        <div class="card-title">
          <%= link_to municipality.name, organization_municipality_path(@organization, municipality), data: {turbo_frame: "_top"}, class: "text-info" %>
        </div> 
        <div class="card-text">
          <div class="col d-flex inline align-items-center">
            <%= link_to 'Edit', edit_organization_municipality_path(@organization, municipality), class: "btn btn-primary mx-1"%>  
            <%= button_to "Delete", [@organization, municipality], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger mx-1"%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
