  <p style="color: green"><%= notice %></p>
</div>
<div class="container">
      <h1>Municipalities</h1>

    <div id="municipalities">
      <% @municipalities.each do |municipality| %>
        <%= render municipality %>
        <p>
        <div class="container">
          <%= link_to "View", [@organization, municipality] %> | 
          <%= link_to "Edit", edit_organization_municipality_path(@organization, municipality) %> | 
          <%= link_to "Delete", [@organization, municipality], data: {"turbo-method": :delete } %>
        </div>
        </p>
      <% end %>
    </div>
</div>

