<div class="container bg-light w-50">
  <p style="color: green"><%= notice %></p>

<table class="table border">
  <div class="container text-center">
    <h1><%= @municipality.name %></h1>
  </div>
  

  <thead>
    <tr>
      <th scope="col">Service Providers</th>
      <th scope="col">Provided Services</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody> 
    <% @organization.municipalities.each do |municipality| %>
      <% municipality.service_providers.each do |provider| %>
      <tr>
        <td><%= link_to provider.name, [@organization, @municipality, provider] %></td>
        <td><%= provider.services.to_sentence%></td>
        <td>
          <%= link_to 'Show', [@organization, @municipality, provider] %> |
          <%= link_to 'Edit', edit_organization_municipality_service_provider_path(@organization, @municipality, provider) %> |
          <%= link_to 'Delete', [@organization, @municipality, provider], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    <% end %>
</tbody>
</table>
</div>
