<div id="<%= dom_id organization %>">
  <div class="card bg-dark border-white">
    <div class="card-body text-center">

      <div class="card-title">
        <h3><%= link_to organization.name, organization_path(organization), data: { turbo_frame: "_top"}, class: "text-info" %></h3>
      </div>
      <br>
      <div class="card-text">

        <div class="container text-decoration-underline">
        <h4><strong>Municipalities: </strong> <br></h4>
        </div>
        <% organization.municipalities.each do |municipality|%>
          <h5><%= link_to municipality.name, organization_municipality_path(organization, municipality), class: "text-info"%></h5>
        <% end %> 
      </div>
      <br>
      <div class="col d-flex inline align-items-center">
      <%= link_to 'Edit', edit_organization_path(organization), class: "btn btn-primary mx-1"%>  
      <%= button_to "Delete", organization_path(organization), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger mx-1"%>
      </div>
    </div>
  </div>
</div>


