<div class="container">
<p style="color: green"><%= notice %></p>

<%= render @organization %>
    <table class="table border text-white">
      <thead>
        <tr>
          <th scope="col">Municipality</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        
        <% @organization.municipalities.each do |municipality| %>
          <tr>
            <td><%= link_to municipality.name, [@organization, municipality] %></td>
            <td>
              <%= link_to 'Show', [@organization, municipality] %> |
              <%= link_to 'Edit', edit_organization_municipality_path(@organization, municipality) %> |
              <%= link_to 'Destroy', [@organization, municipality], method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
