
<div class="container bg-dark text-white w-50 mt-5 pb-3">

  <header class="container text-center d-flex align-items-center">
   <h2><%= @organization.name%></h2>
    <div class="container d-flex justify-content-end">
      <%= turbo_frame_tag @municipality do %>
        <%= link_to "Add Municipality", 
                    new_organization_municipality_path(@organization), 
                    data: {turbo_frame: dom_id(Municipality.new)}, 
                    class: 'btn btn-primary'%>
      <% end %>
    </div>
  </header>
    <br>
  <div class="container text-center p-2 text-decoration-underline">
    <h2>Municipalities</h2>
  </div>

   <%= turbo_frame_tag Municipality.new%>
   <%= turbo_frame_tag "municipalities" do%>
      <%= render @organization.municipalities%>
    <% end %>
</div>
    
</div>
  
